.Add {
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box; }
  .Add .input-label {
    margin-bottom: 10px;
    text-indent: 15px; }
  .Add .input--text {
    margin-bottom: 20px;
    padding: 7px 10px;
    border: 1px solid #ccc;
    border-radius: 7px; }
    .Add .input--text:focus {
      outline: none;
      border: solid #0063b2; }
    .Add .input--text.danger {
      border: solid #fa5252; }
  .Add #desc-input {
    height: 80px;
    resize: vertical; }
  .Add .btn-group {
    display: flex;
    justify-content: center;
    margin-top: 30px; }
    .Add .btn-group .btn {
      padding: 8px 30px;
      box-sizing: border-box;
      border-radius: 10px; }
    .Add .btn-group .btn--cancle {
      background: #fa5252;
      margin-left: 15px; }

@media (max-width: 700px) {
  .Add {
    padding: 0; } }
