.section--contents .container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 100px; }

.Card {
  width: 47%;
  padding: 40px 25px;
  box-sizing: border-box;
  border-radius: 20px;
  background: #fcf6f5;
  margin: 1.5%;
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }
  .Card .card__container {
    margin-bottom: 30px; }
    .Card .card__container.url {
      margin-bottom: 0; }
    .Card .card__container .title {
      font-size: 14px;
      margin-bottom: 15px;
      color: #666;
      font-weight: 600; }
  .Card .word .contents {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.75rem; }
  .Card .desc .contents {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-line;
    word-break: break-all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    line-height: 1.5;
    color: #666; }
  .Card .url .contents {
    overflow: hidden;
    text-overflow: ellipsis;
    color: #0063b2; }
  .Card .btn-group {
    position: absolute;
    top: 10px;
    right: 10px; }
    .Card .btn-group .btn {
      background: none;
      box-shadow: none;
      padding: 8px; }
    .Card .btn-group .btn--modify :hover {
      color: #0063b2; }
    .Card .btn-group .btn--delete :hover {
      color: #fa5252; }

@media (max-width: 700px) {
  .Card {
    width: 100%;
    padding: 30px 15px; } }
