<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MeMo</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/main-medium.css" media="(max-width: 950px)">
    <link rel="stylesheet" href="../static/css/main-small.css" media="(max-width: 700px)">
    <link rel="stylesheet" href="../static/css/main-exsmall.css" media="(max-width: 500px)">

    <!-- CLASSLIST -->
    <link rel="stylesheet" href="../static/css/classList.css">

    <!-- SCRIPT -->
    <script src="../js/init.js" defer></script>
    <script src="../js/hide-show.js" defer></script>
</head>
<body>
<div class="body__container">

    <!-- HEADER -->
    <header class="section">
        <div class="container">

            <h1 class="title header__title">MeMo</h1>

            <div class="category-menu-area">
                <button class="btn show-menu-button">
                    <img src="https://img.icons8.com/windows/64/000000/menu--v1.png" alt="menu icon" />
                </button>

                <ul class="category-menu hide clearfix">
                    <li class="category">전체보기
                        <span class="memo-count">(0)</span>
                    </li>
                    <li class="category clearfix">
                        <p class="category-title float--left">HTML</p>
                        <span class="memo-count">(0)</span>
                        <button class="category-edit btn float--right">
                            <img src="https://img.icons8.com/windows/32/000000/menu-2.png" alt="edit icon" />
                        </button>
                    </li>
                    <li class="category clearfix">
                        <p class="category-title float--left">CSS</p>
                        <span class="memo-count">(0)</span>
                        <button class="category-edit btn float--right">
                            <img src="https://img.icons8.com/windows/32/000000/menu-2.png" alt="edit icon" />
                        </button>
                    </li>
                    <li class="category clearfix">
                        <p class="category-title float--left">JAVASCRIPT</p>
                        <span class="memo-count">(0)</span>
                        <button class="category-edit btn float--right">
                            <img src="https://img.icons8.com/windows/32/000000/menu-2.png" alt="edit icon" />
                        </button>
                        <div class="category-edit__control hide">
                            <button class="btn edit--modify-button">수정</button>
                            <button class="btn edit--delete-button">삭제</button>
                        </div>
                    </li>
                    <li class="category">카테고리 없음
                        <span class="memo-count">(0)</span>
                    </li>
                    <li class="category add-category">
                        카테고리 추가
                        <img src="https://img.icons8.com/small/16/000000/add.png" alt="added icon"/>
                    </li>
                </ul>
            </div>
            
            <button class="btn add-memo-button">메모 추가하기</button>

        </div>
    </header>

    <!-- ADD A MEMO -->
    <article class="section section__add-memo hide">
        <div class="add-memo__container">

            <button class="btn memo-close-button">
                <img src="https://img.icons8.com/windows/32/000000/delete-sign.png" alt="delete icon" />
            </button>

            <div class="add-memo__enter">
                <div class="select-category-area">
                    <button class="btn select-category">
                        <strong class="selected-option">카테고리</strong>
                        <img class="select-arrow" src="https://img.icons8.com/fluent-systems-filled/48/000000/triangle.png" alt="select arrow"/>
                    </button>

                    <ul class="category-option-container hide">
                        <li class="category-option">카테고리 없음</li>
                    </ul>
                </div>

                <form action="" method="POST" id="add-memo__enter-form">
                    <p class="enter-url-container">
                        <span class="input-title">URL</span>
                        <input type="url" class="input-text memo__enter-url" id="enter-url"
                            placeholder="저장할 페이지의 URL을 적어주세요.">
                    </p>

                    <textarea id="enter-description" cols="30" rows="10" class="input-text memo__enter-description"
                        placeholder="간략한 설명을 작성해주세요."></textarea>
                    <button type="submit" class="btn add-memo-button">추가하기</button>
                </form>
            </div>


        </div>
    </article>

    <!-- SHOW MEMO -->
    <section class="section section__show-memo">
        <div class="container">

            <h2 class="title category-title">HTML</h2>

            <article class="show-memo__item">
                <div class="link__image"></div>
                
                <div class="memo__summary clearfix">
                    <div class="memo__header clearfix">
                        <h3 class="memo__title float--left">
                            <a href="#">HTML</a>
                        </h3>

                        <div class="memo__control float--right">
                            <button class="btn memo__modify-button">
                                <img src="https://img.icons8.com/windows/32/000000/edit--v1.png" alt="edit icon">
                            </button>

                            <button class="btn memo__delete-button">
                                <img src="https://img.icons8.com/windows/32/000000/delete-sign.png" alt="delete icon">
                            </button>
                        </div>
                    </div>

                    <p class="memo__description">
                        html 관련 내용이 들어가 있다.
                        html 관련 내용이 들어가 있다.
                        html 관련 내용이 들어가 있다.
                        html 관련 내용이 들어가 있다.
                        html 관련 내용이 들어가 있다.
                        html 관련 내용이 들어가 있다.
                        html 관련 내용이 들어가 있다.
                        html 관련 내용이 들어가 있다.
                        html 관련 내용이 들어가 있다.
                        html 관련 내용이 들어가 있다.
                        html 관련 내용이 들어가 있다.
                        html 관련 내용이 들어가 있다.
                        html 관련 내용이 들어가 있다.
                        html 관련 내용이 들어가 있다.
                        html 관련 내용이 들어가 있다.
                        html 관련 내용이 들어가 있다.
                    </p>

                    <hr class="memo__text-division">

                    <p class="memo__comment">
                        html 관련 내용이 들어가 있다.
                        html 관련 내용이 들어가 있다.
                        html 관련 내용이 들어가 있다.
                        html 관련 내용이 들어가 있다.
                        html 관련 내용이 들어가 있다.
                        html 관련 내용이 들어가 있다.
                        html 관련 내용이 들어가 있다.
                        html 관련 내용이 들어가 있다.
                        html 관련 내용이 들어가 있다.
                        html 관련 내용이 들어가 있다.
                        html 관련 내용이 들어가 있다.
                        html 관련 내용이 들어가 있다.
                        html 관련 내용이 들어가 있다.
                        html 관련 내용이 들어가 있다.
                        html 관련 내용이 들어가 있다.
                    </p>
    
                    <p class="date-added float--right">2021-04-15 09:35</p>
                </div>
            </article>

        </div>
    </section>

</div>
</body>
</html>