$color: #ADEFD1;

.Add {
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;

    .input-label {
        margin-bottom: 10px;
        text-indent: 15px;
    }

    .input--text {
        margin-bottom: 20px;
        border: none;
        padding: 7px 10px;
        border: 1px solid #ccc;
        border-radius: 7px;

        &:focus {
            outline: none;
            border: solid $color;
        }
    }

    .btn--submit {
        padding: 8px 30px;
        box-sizing: border-box;
        border-radius: 10px;
        margin: 30px auto 0;
    }
}
