@import "color";

.Add {
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;

    .input-label {
        margin-bottom: 10px;
        text-indent: 15px;
    }

    .input--text {
        margin-bottom: 20px;
        border: none;
        padding: 7px 10px;
        border: 1px solid #ccc;
        border-radius: 7px;

        &:focus {
            outline: none;
            border: solid $primary;
        }

        &.danger {
            border: solid $danger;
        }
    }

    #desc-input {
        height: 80px;
        resize: vertical;
    }

    .btn-group {
        display: flex;
        justify-content: center;
        margin-top: 30px;

        .btn {
            padding: 8px 30px;
            box-sizing: border-box;
            border-radius: 10px;
        }

        .btn--cancle {
            background: $danger;
            margin-left: 15px;
        }
    }
}
