$fontColor: #331b3f;
$primary: #0063b2;
$danger: #fa5252;

@mixin shadow() {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@mixin flex() {
    display: flex;
    align-items: center;
}

@mixin textOverflow() {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
